body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("photos/wallstreet1.jpg");
    font-weight: bolder;
    
}

header {
    color: black;
    font-size: 20px;
}

.graphs {
    border: 1px solid black;
}

#sectorCashSplit .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#sectorCurrentSplit .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#earnings .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}